version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    # Monitor Python dependencies in root

  - package-ecosystem: "pip"
    directory: "/python"
    schedule:
      interval: "weekly"
    # Monitor Python module dependencies
